@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

:root {
  --primary-color: #42389e;
  --primary-dark-color: #2e276f;
  --primary-light-color: #e6e7f4;
  --gray-color: #4b4b4b;
  --light-gray-color: #8a8a8a;
  --card-yellow-color: #f9a71e;
  --border-color: #42489e33;
  --carousel-card-gray-color: #e1e2f0;
  --footer-color: #e6e7f3;

  --background: #fdfdff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  background-color: var(--background);
}

.baseContainer {
  @apply max-w-[85rem] mx-auto w-full px-6 md:px-16 lg:px-24 py-3 relative;
}

p,
h1,
h2,
h3,
h4,
h5 {
  font-family: "DM Sans", sans-serif;
}

.mainSectionHeader {
  @apply text-center text-[28px] lg:text-[2.625rem] font-semibold text-[var(--primary-color)] leading-[100%] md:leading-[120%] max-md:px-4;
  /* @apply text-center text-2xl lg:text-[2.625rem] font-semibold text-[var(--primary-color)] leading-[120%]; */
}
